.module-articles {
  .article-item {
    display: block;
    background: $white;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;

    &:hover {
      text-decoration: none;
    }
  }
}
