.module-contact {
  background: $dark-color;
  padding-bottom: 2rem;

  h4 {
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
    opacity: 0.6;
  }

  a {
    font-size: 1.5rem;
    color: $white;
  }
}

.organizers {
  margin-bottom: 2rem;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 1rem;

    img {
      height: 40px;
    }
  }

  .ccoo img {
    height: 25px;
  }

  .podemos img {
    height: 18px;
    margin-left: 0;
  }
}

@include media-breakpoint-up(md) {
  .organizers {
    margin-bottom: 0;
  }
}
