.demonstration {
  background: $not-pink;

  &-map {
    height: 300px;
    margin: 0 auto;
    background-color: $gray-200;
    background-image: url('../images/route.png');
    background-size: cover;
    background-position: center;
  }

  &-page {
    h3 {
      background: lighten($teal, 50%);
      margin: 1.5rem -30px 1rem -30px;
      padding: 7px 31px;
      font-size: 1.25rem;
      color: $teal;
    }

    .map {
      margin: 1rem -31px -1.5rem;

      img {
        width: 100%;
      }
    }

    .calendar-events {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
      }

      a {
        color: $teal;
        display: block;
        padding: 0.25rem 0.5rem;
        margin: 0 0.5rem;
      }
    }

    .transport {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: -1rem;
      }

      li {
        font-weight: bold;
        margin: 1rem 0;
      }

      &-icon {
        width: 30px;
      }

      .station {
        display: inline-block;
        font-weight: normal;
        border: 1px $gray-400 solid;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        margin-left: 1rem;
      }

      .bus img {
        margin: 0 0.25rem;
      }
    }
  }
}

.module-demonstration {
  color: $teal;
  background: $white;
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.95rem;
  }

  .date {
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: -1rem;
  }

  .secondary {
    font-size: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  li {
    width: 50%;
    list-style: none;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 0.5rem 0;
    line-height: 1;

    &:first-child {
      border-top: 0;
      border-right: 0;
      width: 100%;
    }

    &:nth-child(even) {
      border-right: 2px $teal solid;
    }

    a {
      display: block;
      color: $teal;
      transition: 0.2s ease-in;
      border-radius: 10px;
      padding: 0.75rem 0.5rem;
      margin: -0.5rem;

      &:hover {
        background: lighten($teal, 50%);
        text-decoration: none;
      }

      &:active {
        background: $teal;
        color: $white;
      }
    }

    span {
      display: block;
      margin-top: 0.5rem;
    }

    .svg-inline--fa {
      margin: 0.5rem 0;
      font-size: 1.75rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .module-demonstration {
    li {
      border-top: 2px $teal solid;
      width: 100%;
      margin: 0;
      padding: 1rem 0.5rem;

      &:nth-child(even) {
        border-right: 0;
      }
    }

    .module-content {
      max-width: 200px !important;
    }
  }
}
