.demonstration {
  background: $white;
}

.module-demonstration {
  color: $teal;
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.95rem;
  }

  .date {
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: -2rem;
  }

  .secondary {
    font-size: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  li {
    width: 50%;
    list-style: none;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 0.5rem 0;
    line-height: 1;

    &:nth-child(odd) {
      border-right: 2px $teal solid;
    }

    a {
      display: block;
      color: $teal;
      transition: 0.2s ease-in;
      border-radius: 10px;
      padding: 0.75rem 0.5rem;
      margin: -0.5rem;

      &:hover {
        background: lighten($teal, 50%);
        text-decoration: none;
      }

      &:active {
        background: $teal;
        color: $white;
      }
    }

    span {
      display: block;
      margin-top: 0.5rem;
    }

    .svg-inline--fa {
      margin: 0.5rem 0;
      font-size: 1.75rem;
    }
  }
}

.demonstration-map {
  height: 300px;
  margin: 0 auto;
  background-color: $gray-200;
  background-image: url('../../images/route.png');
  background-size: cover;
  background-position: center;
}

@include media-breakpoint-up(md) {
  .module-demonstration {
    li {
      border-top: 2px $teal solid;
      width: 100%;
      margin: 0;
      padding: 1rem 0.5rem;

      &:nth-child(odd) {
        border-right: 0;
      }
    }

    .module-content {
      max-width: 200px !important;
    }
  }
}
