/** Sign inputs */
.main-input {
  position: relative;

  label {
    position: absolute;
    top: 0.62rem;
    left: 1.1rem;
    color: $gray-500;
    font-size: 1.15rem;
    transition: 0.2s ease-in-out;
  }

  .form-control {
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;

    &:focus {
      border-color: $blue;
    }
  }

  &-active {
    label {
      top: 0.25rem;
      font-size: 0.85rem;
      color: $gray-700;
    }
  }
}

.custom-control-label::before {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-control {
  border-color: rgba(0, 0, 0, 0.15);
}

.custom-control {
  display: inline-block;
}

.btn {
  border-radius: 0.5rem;
  border-width: 2px;
}

.btn-primary.btn-lg {
  border: 2px $white solid;
}

/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
