@import 'sign';
@import 'share';
@import 'manifesto';
@import 'demonstration';
@import 'articles';
@import 'contact';

.module {
  position: relative;
  padding: 2rem;
}

.col-lg-3 .module-content {
  max-width: 450px;
  margin: 0 auto;
}

.col-lg-6 .module-content,
.col-lg-7 .module-content {
  max-width: 700px;
  margin: 0 auto;
}

.module-content {
  position: relative;
  z-index: 1;
}

.module-icon {
  position: absolute;
  z-index: 0;
  bottom: -20px;
  right: 20px;
  font-size: 12rem;
  opacity: 0.1;
}

.module-text {
  margin-top: 2rem;
}

@include media-breakpoint-up(lg) {
  .sign-share {
    order: 1;
  }

  .manifesto {
    order: 2;
  }

  .demonstration {
    order: 3;
  }

  .col-lg-3 .module-content {
    max-width: 300px;
    margin: 0 auto;
  }
}

@include media-breakpoint-up(xl) {
  .module {
    padding: 3rem;
  }
}
