.module {
  padding: 2rem;
}

.col-md-3 .module-content {
  max-width: 250px;
  margin: 0 auto;
}

.col-md-6 .module-content {
  max-width: 700px;
  margin: 0 auto;
}

.module-header {
  text-align: center;

  .svg-inline--fa {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

@import 'sign';
@import 'share';
@import 'manifesto';
@import 'demonstration';
@import 'articles';
@import 'contact';

@include media-breakpoint-up(md) {
  .sign-share {
    order: 1;
  }

  .manifesto {
    order: 2;
  }

  .demonstration {
    order: 3;
  }
}

@include media-breakpoint-up(xl) {
  .module {
    padding: 3rem;
  }
}
