.module-share {
  background: $teal;
  color: $white;

  .share-buttons {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 0.5rem 0;
    }

    .btn {
      border: 2px $white solid;
      font-size: 1rem;
    }

    .btn-whatsapp {
      background: #25d366;

      &:hover,
      &:active {
        background: darken(#25d366, 10%);
      }
    }

    .btn-facebook {
      background: #4265af;

      &:hover,
      &:active {
        background: darken(#4265af, 10%);
      }
    }

    .btn-twitter {
      background: #199fef;

      &:hover,
      &:active {
        background: darken(#199fef, 10%);
      }
    }
  }
}

.module-tweets {
  background: $white;
  padding: 0.75rem;
  overflow: hidden;
}
