.module-signatures {
  h4 {
    background: lighten($teal, 50%);
    color: $teal;
    margin: 0 -2rem 1rem -2rem;
    padding: 0.5rem 2rem;
  }

  ul {
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;
  }

  li {
    border-bottom: 2px $gray-400 solid;
    padding: 0.5rem 0;
  }

  .more a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: -0.5rem 0;
    color: $teal;

    &:hover {
      background: lighten($blue, 65%);
      text-decoration: none;
    }
  }
}

.reveal {
  overflow: hidden;
  animation: 1s reveal ease-in;
}

.signature-list {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }

  &[data-type=individual] {
    max-height: 400px;
  }

  &[data-type=organization] {
    max-height: 400px;
  }
}

@include media-breakpoint-up(xl) {
  .module-signatures {
    h4 {
      margin-left: -3rem;
      margin-right: -3rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .signature-list {
    &[data-type=individual] {
      max-height: 2300px;
    }

    &[data-type=organization] {
      max-height: 800px;
    }
  }
}
