.sign-share {
  background: $teal;
}

.module-sign {
  background: $yellow;

  .custom-checkbox {
    margin-bottom: 2rem;
  }

  .btn-primary {
    background: $pink;

    &:hover {
      background: darken($pink, 10%);
    }
  }
}

.card.bg-info {
  .btn:hover {
    color: $dark-color;
  }

  .svg-inline--fa {
    margin-left: 10px;
  }
}
