.banner {
  position: relative;
  margin-top: 62px;

  .claim {
    padding: 4rem 2rem;
    background-color: $teal;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    margin: 2rem 0;

    h1 {
      position: relative;
      z-index: 10;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .banner-icon {
    position: absolute;
    top: 50%;
    right: -81px;
    z-index: 100;
    transform: translateY(-50%);

    img {
      height: 260px;
    }

    @at-root .home .banner .banner-icon img {
      height: 317px;
    }
  }

  .map {
    background: $teal;
    text-align: center;
    width: 125px;

    .map-holder {
      position: absolute;
      right: 208px;
      z-index: 20;
    }
  }

  .upper-slogan {
    display: block;
    font-size: 2.5rem;
    animation: slide-up 0.8s ease-out;
  }

  .main-slogan {
    display: block;
    color: $yellow;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
    animation: slide-up 0.8s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

.home .banner {
  .map-holder {
    position: absolute;
    right: 79px;
    z-index: 20;
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.sign-cta {
  margin-top: 2rem;
  position: relative;
  z-index: 20;

  a {
    border-radius: 30px;
    padding: 8px 24px;

    &:hover {
      color: $blue;
    }
  }

  .svg-inline--fa {
    margin-right: 10px;
  }
}

@include media-breakpoint-up(md) {
  .banner {
    .claim {
      text-align: left;
    }

    .upper-slogan {
      font-size: 2rem;
    }

    .main-slogan {
      font-size: 3.5rem;
      text-align: left;
    }
  }
}

@include media-breakpoint-up(lg) {
  .banner {
    .upper-slogan {
      font-size: 2.5rem;
    }

    .main-slogan {
      font-size: 4rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .banner .claim {
    padding: 6rem 4rem;
  }
}

@include media-breakpoint-down(sm) {
  .banner {
    .claim {
      border-radius: 0;
      margin: 0;

      .metro-line::after {
        content: '';
        display: block;
        background: linear-gradient(to right, rgba(49, 112, 157, 0), $blue);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 200px;
        z-index: 5;
      }
    }

    .banner-icon {
      position: static;
      transform: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .banner .map {
    .map-holder {
      right: 66px;
    }
  }

  .home {
    .banner .map {
      .map-holder {
        right: 0;
      }
    }
  }
}

@import 'components/metro';
