.banner {
  margin-top: 62px;

  .claim,
  .map {
    padding: 2rem;
  }

  .claim {
    padding: 4rem 2rem;
    background: $dark-color;
    color: #fff;
    text-align: center;
  }

  .map {
    padding: 2rem;
    background: $teal;
  }

  .upper-slogan {
    display: block;
    font-size: 2.5rem;
  }

  .main-slogan {
    display: block;
    color: $yellow;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

@include media-breakpoint-up(md) {
  .banner {
    .claim {
      text-align: left;
    }

    .main-slogan {
      font-size: 4rem;
      text-align: left;
    }
  }
}

@include media-breakpoint-up(lg) {
  .top {
    background: $white;
  }

  .hashtag a {
    color: $dark-color;
  }

  .menu {
    a {
      color: $blue;
      font-size: 1rem;
    }

    li {
      height: 28px;
    }

    li:first-child {
      margin-left: auto;
    }
  }

  .menu-items {
    visibility: visible;
    height: 100%;
    position: static;
    background: transparent !important;

    ul {
      margin-top: 0;
      flex-direction: row;
    }

    li {
      margin: 0 5px;
    }
  }
}

@import 'components/metro';

@include media-breakpoint-up(xl) {
  .banner .claim {
    padding: 6rem 4rem;
  }
}
