.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  width: 100%;
  background: $blue;
  height: 62px;
  transition: 0.2s ease-in-out;

  .container-fluid {
    position: relative;
  }

  .col {
    position: relative;
    height: 62px;
  }
}

.admin-bar .top {
  top: 32px;
}

.top-shadow {
  box-shadow: 0 1px 20px -3px rgba(0, 0, 0, 0.3);
}

.elem-hidden {
  opacity: 0 !important;
  z-index: -1;
}

.hashtag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  a {
    color: $white;
  }
}

.menu {
  position: absolute;
  top: 1rem;
  right: 1rem;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
    margin: 0 5px;
  }

  a {
    display: block;
    padding: 2px 0;
    color: $white;
  }

  .current-lang,
  .active {
    a {
      font-weight: bold;
    }
  }
}

.menu-slided {
  .menu-items {
    visibility: visible;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: 0.2s ease-in-out;
  }
}

.menu-items {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 62px;
  bottom: 0;
  right: 0;
  left: 0;

  ul {
    margin-top: 2rem;
    flex-direction: column;
  }

  li {
    margin: 0.5rem 5px;
  }

  a {
    color: $blue;
    display: block;
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .menu-item {
    display: none;
  }

  .top {
    background: $white;
    border-bottom: 1px rgba($blue, 0.25) solid;
  }

  .hashtag a {
    color: $blue;
  }

  .menu {
    a {
      color: $blue;
      font-size: 1rem;
    }

    li {
      height: 28px;
    }

    li:first-child {
      margin-left: auto;
    }
  }

  .menu-items {
    visibility: visible;
    height: 100%;
    position: static;
    background: transparent !important;

    ul {
      margin-top: 0;
      flex-direction: row;
    }

    li {
      margin: 0 5px;
    }
  }
}
