@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes map-dot {
  0% {
    fill: $white;
    stroke: transparent;
    stroke-width: 8px;
    stroke-opacity: 0.2;
  }

  3% {
    fill: $yellow;
    stroke: $black;
  }

  6% {
    fill: $yellow;
    stroke: $black;
  }

  10% {
    fill: $white;
    stroke: transparent;
  }

  100% {
    fill: $white;
    stroke: transparent;
  }
}

@for $i from 1 through 10 {
  .cls-a-#{$i} {
    animation-name: map-dot;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: #{$i}s;
  }
}
