$font-family-base: 'Work Sans', Helvetica, arial, sans-serif;
$enable-rounded: false;
$grid-gutter-width: 0;

$body-bg: #fdf4a4;
$dark-color: #444959;
$teal: #017c87;
$blue: #017c87;
$yellow: #fab649;
$pink: #017c87;
$not-pink: #017c87;
