$font-family-base: 'Circular', Helvetica, arial, sans-serif;
$enable-rounded: false;
$grid-gutter-width: 0;

$dark-color: #444959;
$teal: #399f9e;
$blue: #0171a1;
$yellow: #ffc107;
$pink: #0171a1;
$not-pink: #9d2877;
